{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Playlist 1
  </h3>
  <div class="section">
    <p>
      A Little Playlist Maker - Version 1
    </p>
  </div>
</section>