{{> menu}}

<section class="section">
  <div class="title">
    {{playlist.title}}
  </div>
  <div class="subtitle">
    Shortest Track: {{shortestTrack.title}}
  </div>
  {{> list-tracks}}
  {{> add-track}}
</section>